@charset "utf-8";
html {
    color: #333;
    background: #fff;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    text-rendering: optimizelegibility
}

@font-face {
    font-family: Monaco;
    src: url('../fonts/Monaco.eot');
    src: url('../fonts/Monaco.eot?#iefix') format('embedded-opentype'), url('../fonts/Monaco.woff2') format('woff2'), url('../fonts/Monaco.woff') format('woff'), url('../fonts/Monaco.ttf') format('trueType');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "iconfont";
    src: url('../fonts/iconfont.eot?t=1490325857091');
    /* IE9*/
    src: url('../fonts/iconfont.eot?t=1490325857091#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../fonts/iconfont.woff?t=1490325857091') format('woff'), /* chrome, firefox */
    url('../fonts/iconfont.ttf?t=1490325857091') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
    url('../fonts/iconfont.svg?t=1490325857091#iconfont') format('svg');
    /* iOS 4.1- */
}

.iconfont {
    font-family: "iconfont" !important;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-guanbi:before {
    content: "\e600";
}

.icon-shang:before {
    content: "\e751";
}

.icon-fenlei:before {
    content: "\e611";
}

.icon-quotes-down:before {
    content: "\e60e";
}

.icon-quotes-up:before {
    content: "\e60f";
}

.icon-zuobiao:before {
    content: "\e61b";
}

.icon-zuobiao {
    margin-right: 10px;
    font-weight: 600;
}

* {
    margin: 0;
    padding: 0
}

body {
    font: 400 16px/1.62 "Monaco", sans-serif;
    color: #535353;
    overflow: hidden
}

.willerce {
    text-align: center;
    margin: 100px auto auto auto;
    max-width: 500px;
    padding: 0 20px
}

.willerce a {
    color: #535353;
    text-decoration: underline
}

.willerce a:link,
.willerce a:visited {
    text-decoration: underline
}

h1 {
    font-size: 26px;
    color: #424242;
    margin-bottom: 20px
}

.avatar {
    border-radius: 64px;
}

.nav a {
    padding: 0 6px 0 6px
}

@keyframes fade-in {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

@-webkit-keyframes fade-in {
    0% {
        opacity: 0
    }
    40% {
        opacity: 0
    }
    100% {
        opacity: 1
    }
}

.willerce {
    animation: fade-in;
    animation-duration: 1s;
    -webkit-animation: fade-in 1s
}

.sydlogo {
    position: relative;
    width: 128px;
    height: 128px;
    margin: 0 auto;
    margin-bottom: 35px;
}

.zjgx {
    position: absolute;
    background: #f00;
    font-size: 16px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    top: 0px;
    right: 0px;
    border-radius: 20px;
    color: #fff;
}


code, pre, pre tt {
    font-family: Monaco, Menlo, Consolas, "Courier New", monospace
}

pre {
    /*background: #f8f8f8;*/
    /*border: 1px solid #ddd;*/
    padding: 1em 1.5em;
    display: block;
    -webkit-overflow-scrolling: touch
}

pre {
    /*display: block;*/
    /*padding: 9.5px;*/
	padding: 1em 1.5em;
    margin: 0 0 10px;
    font-size: 13px;
    /*line-height: 1.42857143;*/
    color: #333;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
	font-size: 90%;
}

pre code {
    padding: 0;
    font-size: inherit;
    color: inherit;
    white-space: pre-wrap;
    background-color: transparent;
    border-radius: 0
}

.docutils {
    background-color: #f3f3f3;
}
