{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-md-8">


    <form class="form-horizontal">
        {{ form.csrf_token }}

      <!-- Title -->
      <div class="form-group">
        {{ form.title.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <input type="text" class="form-control" id="title" placeholder="Title" name="title" value="{{ article.meta['title'] }}">
        </div>
      </div>

      <!-- Authors -->
      <div class="form-group">
        {{ form.authors.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <input type="text" class="form-control" id="authors" placeholder="Authors" name="authors" value="{{ article.meta['authors'] }}">
        </div>
      </div>

      <!-- Tags -->
      <div class="form-group">
        {{ form.tags.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <input type="text" class="form-control" id="tags" placeholder="Tags" name="tags" value="{{ article.meta['tags'] }}">
        </div>
      </div>

      <!-- Status -->
      <div class="form-group">
        {{ form.status.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <select class="form-control" name="status">
              <option value="published" {% if article.meta['status'] == 'published' %}selected="selected"{% endif %}>published</option>
              <option value="draft" {% if article.meta['status'] == 'draft' %}selected="selected"{% endif %}>draft</option>
          </select>
        </div>
      </div>

      <!-- Created_at -->
      <div class="form-group">
        {{ form.created_at.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <input type="text" class="form-control" id="created_at" placeholder="created_at" name="created_at" value="{{ article.meta['created_at'] }}">
        </div>
      </div>

      <!-- Updated_at -->
      <div class="form-group">
        {{ form.updated_at.label(class="col-sm-2 control-label") }}
        <div class="col-sm-10">
          <input type="text" class="form-control" id="updated_at" placeholder="updated_at" name="updated_at" value="{{ article.meta['updated_at'] }}">
        </div>
      </div>

      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-default" id="save">Save</button>
        </div>
      </div>
    </form>

    </div>
</div>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function getRequest() {
       var url = location.search; //获取url中"?"符后的字串
       if (url.indexOf("?") != -1) {    //判断是否有参数
          var str = url.substr(1); //从第一个字符开始 因为第0个是?号 获取所有除问号的所有符串
          strs = str.split("=");   //用等号进行分隔 （因为知道只有一个参数 所以直接用等号进分隔 如果有多个参数 要用&号分隔 再用等号进行分隔）
          // alert(strs[1]);          //直接弹出第一个参数 （如果有多个参数 还要进行循环的）
          return strs[1]
       }
    }
    $(document).ready(function(){
        var path = getRequest()
        $.ajax({
            url: "/api/articles/"+path,
            type: "GET",
            success: function(data){
                console.log(data)
            },
            error: function(data){
                console.log(data)
            }
        })
        // var url = "/api/articles/"+
        // $.ajax({
        //     url: ''
        // })
        // $(".save").click(function(){
        //     console.log("Save.")
        // })
    })
</script>
{% endblock %}
