{% extends "layout.html" %}

{% macro th(field) -%}
    {% set config_field = config.SERVER_FIELD[field] %}
    <th
    data-field="{{ field }}"
    data-align="{{ config_field.get('align', 'center') }}"
    data-sortable="{{ config_field.get('sort', 'true')|lower }}"
    >{{ config_field.get('text') }}</th>
{%- endmacro %}


{% block content %}
    <h2>Article list</h2>
    <table data-toggle="table" id="article-lists" class="table table-hover" data-pagination="true"
           data-detail-view="true"
           data-detail-formatter="detailFormatter"
           data-search="true"
           data-show-toggle="true"
           data-show-columns="true"
           data-striped="true"
           data-sort-stable="true"
           data-show-pagination-switch="true"
           data-id-field="id"
           data-click-to-select="false"
           data-page-size="{{ config.page_size|int(10) }}"
           >
        <thead>
            <tr>
                <th data-field="state" data-checkbox="true"></th>
                <!-- <th data-field="id" data-align="center" data-sortable="true">No.</th> -->
                <th data-field="path" data-align="center" data-sortable="true">file path</th>
                {% for field in config.SERVER_FIELD %}
                    {{ th(field) }}
                {% endfor %}
                <th data-field="action" data-align="center">Action</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block script %}
<script type="text/javascript">
    function make_data(){
        var data = []
        {% for article in articles %}
            data.push({
                // "id": {{ loop.index }},
                "path": "{{ article.path }}",
                "date": "{{ article.meta['date'] }}",
                "title": function(){
                    {% if config.title_color_with_status %}
                        {% if article.meta['status'] == 'draft' %}
                            return '<p class="text-{{ config.title_color_with_status_is_draft }}">{{ article.meta['title'] }}</p>'
                        {% else %}
                            return '<p class="text-{{ config.title_color_with_status_is_published }}">{{ article.meta['title'] }}</p>'
                        {% endif %}
                    {% else %}
                        return "{{ article.meta['title'] }}"
                    {% endif %}
                }(),
                "author": "{{ article.meta['author'] }}",
                "modified": "{{ article.meta['modified'] }}",
                "status": function(){
                    {% if article.meta['status'] == 'draft' %}
                        return '<span class="label label-warning">draft</span>'
                    {% else %}
                        return '<span class="label label-success">published</span>'
                    {% endif %}
                }(),
                "action": "<a href='{{ url_for('article.edit', path=article.path) }}'>Edit</a>|  <button type='button' class='btn btn-danger btn-sm'>Delete</button>",
                "category": "{{ article.meta.get('category', config.default_category) }}"
            })
        {% endfor %}
        return data
    }
    function detailFormatter(index, row) {
        var html = [];
        $.each(row, function(key, value) {
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        });
        return html.join('');
    }

    /**
     * 生成表头与菜单
     * @return {[type]} [description]
     */
    function make_header(){
        var menu = [
            {'id': 'Id'}
        ]
        console.log(menu)
    }

    $(document).ready(function(){
        make_header()
        var $table = $("#article-lists");
        var data = make_data()

        $table.bootstrapTable('destroy')
            .bootstrapTable({
                data: data,
                onExpandRow: function (index, row, $detail) {
                   $detail.hide().fadeIn('slow');
                 },
                onColumnSwitch: function(field, checked){
                    update_hide_column(field, checked)
                },
            })
        {% if config.PAGE_HIDE_COLUMN %}
            {% for field in config.PAGE_HIDE_COLUMN %}
                $table.bootstrapTable('hideColumn', '{{ field }}')
            {% endfor %}
        {% endif %}
    })
</script>
{% endblock %}
